
.pblue{
    color: #00a5ea;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 20px;
    margin-bottom: 5px
}
.plite{
    color: #949494;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #00a5ea
    }
    .navbar a{
    font-size: 16px;
    font-weight: bold
    }
    .navbar a:hover{
       color:#FFD700 !important
    }
    .navbar button {
        background-color: #FFD700;
        border: none;
        height: 70px;
    }
    .navbar button:hover {
        background-color: rgba(255, 217, 0, 0.9);
    }